//import das variáveis

@import 'variaveis';

//Geral do projeto

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    margin: 50px;
    min-height: 250px;

    h1 {
        text-align: $center;
        font-size: 42px;
        margin-bottom: 30px;
        color: $cinza;
    }
}

//Navbar

#nav {
    background-color: $cinza;
    border-bottom: 4px $solid $border;
    padding: 15px 50px;
    display: $flex;
    justify-content: flex-end;
    align-items: $center;

    #logo-url {
        margin: $auto;
        margin-left: 0;
    }

    a {
        color: $dourado;
        text-decoration: none;
        margin: 12px;
        transition: .5s;
        text-transform: $uppercase;
        font-weight: $bold;
    }

    a:hover {
        color: $branco;
    }
  }

  #logo {
    width: 40px;
    height: 40px;
  }

//Banner

#main-banner {
    background-image: url('/img/burger.jpg');
    background-position: 0 -250px;
    background-size: cover;
    height: 500px;
    display: $flex;
    align-items: $center;
    justify-content: flex-start;

    h1 {
        color: $branco;
        text-align: $center;
        font-size: 60px;
        background-color: $cinza;
        padding: 20px 40px;
    }
}

//Formulario

#burger-form {
    max-width: 400px;
    margin: 0 $auto;

    .input-container {
        display: $flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    
    label {
        font-weight: $bold;
        margin-bottom: 15px;
        color: $cinza;
        padding: 5px 10px;
        border-left: 4px $solid $dourado;
    }
    input, select {
        padding: 5px 10px;
        width: 300px;
    }
    #opcionais-container {
        flex-direction: row;
        flex-wrap: $wrap;
    }
    #opcionais-title {
        width: 100%;
    }
    .checkbox-container {
        display: $flex;
        align-items: flex-start;
        width: 50%;
        margin-bottom: 20px;
    
        input, span {
            width: $auto;
        }
    
        span {
            margin-left: 6px;
            font-weight: $bold;
        }
    }
    .submit-btn {
        background-color: $cinza;
        color:$dourado;
        font-weight: $bold;
        border: 2px $solid $cinza;
        padding: 10px;
        font-size: 16px;
        margin: 0 $auto;
        cursor: pointer;
        transition: .5s;
    }
    .submit-btn:hover {
        background-color: transparent;
        color: $cinza;
    }
}

//Message

.message-container {
    color: #004085;
    background-color: #cce5ff;
    border: 2px $solid #b8daff;
    border-radius: 5px;
    padding: 10px;
    max-width: 400px;
    margin: 30px $auto;
}

//Dashboard

#burger-table {
    max-width: 1200px;
    margin: 0 $auto;

    ul {
        list-style: none;
    }

    #burger-table-heading,
    #burger-table-rows,
    .burger-table-row {
        display: $flex;
        flex-wrap: $wrap;
    }

    #burger-table-heading {
        font-weight: $bold;
        padding: 12px;
        border-bottom: 3px $solid $cinza;

        div {
            width: 19%;
        }

        .order-id {
            width: 5%;
        }
    }

    .burger-table-row {
        width: 100%;
        padding: 12px;
        border-bottom: 1px $solid #CCC;

        .order-number {
            width: 5%;
        }

        div {
            width: 19%;
        }

        select {
            padding: 12px 6px;
            margin-right: 12px;
            margin-bottom: 20px;
        }
    }
}

.delete-btn {
    background-color: $cinza;
    color:$dourado;
    font-weight: $bold;
    border: 2px $solid $cinza;
    padding: 10px;
    font-size: 16px;
    margin: 0 $auto;
    cursor: pointer;
    transition: .5s;
}

.delete-btn:hover {
    background-color: transparent;
    color: $cinza;
}

//Footer

#footer {
    height: 200px;
    background-color: $cinza;
    border-top: 4px $solid $border;
    color: $dourado;
    display: $flex;
    align-items: $center;
    justify-content: $center;
    bottom: 0;
    width: 100%;
}